{% extends 'base.html' %}

{% block title %}
English-Hebrew resume parser
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">English-Hebrew resume parser</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <p>Back to <a href="/docs/5.3/examples/sticky-footer/">the default sticky footer</a> minus the navbar.</p>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="file_input" name="file_input">
                <label class="input-group-text" for="file_input">Upload</label>
            </div>
            <button class="btn btn-primary" type="submit">Parse</button>

        </form>
    </div>

    <div class="container">
        <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
            <div class="list-group">

                {% if file_name %}
                    <p>File loaded: {{ file_name }}</p>
                    {% if cv_holder_name %}
                        <a class="list-group-item d-flex gap-3 py-3" aria-current="true">
                            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                              <h6 class="mb-0">Holder's Name:</h6>
                              <p class="mb-0 opacity-75">{{ cv_holder_name }}</p>
                            </div>
                          </div>
                        </a>
                    {% endif %}
                    {% if phone_numbers %}
                        <a class="list-group-item d-flex gap-3 py-3" aria-current="true">
                            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                              <h6 class="mb-0">Phone Numbers:</h6>
                              <p class="mb-0 opacity-75">{{ phone_numbers }}</p>
                            </div>
                          </div>
                        </a>
                    {% endif %}
                    {% if emails %}
                        <a class="list-group-item d-flex gap-3 py-3" aria-current="true">
                            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                              <h6 class="mb-0">Emails:</h6>
                              <p class="mb-0 opacity-75">{{ emails }}</p>
                            </div>
                          </div>
                        </a>
                    {% endif %}
                    {% if links %}
                        <a class="list-group-item d-flex gap-3 py-3" aria-current="true">
                            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                              <h6 class="mb-0">Links:</h6>
                              <p class="mb-0 opacity-75">{{ links }}</p>
                            </div>
                          </div>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


