{% extends 'base.html' %}

{% block title %}
English-Hebrew resume parser
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5">English-Hebrew resume parser</h1>
    <form action="/" method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="language-select" class="form-label">Choose language:</label>
            <select class="form-select" id="language-select" name="language">
                <option value="english">English</option>
                <option value="hebrew">Hebrew</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <input type="file" class="form-control" id="file_input" name="file_input">
            <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04">Parse</button>
        </div>
    </form>
</div>
{% if file_name %}
<div class="container">
    <div class="pdf_head">
        <div class="pdf">
            <iframe id="myPDF" src="{{ url_for('static', filename=file_name) }}#toolbar=0" frameborder="0"></iframe>
        </div>
        <div class="pdf">
            <h2 class="mt-5">Parsing Results</h2>
            <div class="row mb-3 text-center">
            <div class="col-6 themed-grid-col">
                <table class="table mt-2 w-full border text-sm text-gray-900">
                    <tbody class="text-left align-top">
                        <tr class="bg-gray-50 border">
                            <th class="px-3 py-2 font-semibold border" scope="col">Attribute</th>
                            <th class="px-3 py-2 font-semibold border" scope="col">Text</th>
                        </tr>
                        {% if cv_holder_name %}
                            <tr class="border">
                                <td class="px-3 py-2 font-medium border">Holder's Name:</td>
                                <td class="px-3 py-2 border">{{ cv_holder_name }}</td>
                            </tr>
                        {% endif %}
                        {% if birth %}
                            <tr class="border">
                                <td class="px-3 py-2 font-medium border">Birth:</td>
                                <td class="px-3 py-2 border">{{ birth }}</td>
                            </tr>
                        {% endif %}
                        {% if numbers %}
                            <tr class="border">
                                <td class="px-3 py-2 font-medium border">Phone Numbers:</td>
                                <td class="px-3 py-2 border">
                                    {% for number in numbers %}
                                        {{ number }}<br>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}

                        {% if mails %}
                            <tr class="border">
                                <td class="px-3 py-2 font-medium border">Emails:</td>
                                <td class="px-3 py-2 border">
                                    {% for mail in mails %}
                                        {{ mail }}<br>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}

                        {% if links %}
                            <tr class="border">
                                <td class="px-3 py-2 font-medium border">Links:</td>
                                <td class="px-3 py-2 border">
                                    {% for link in links %}
                                        {{ link }}<br>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}

                        {% if education %}
                            <tr class="border">
                                <td class="px-3 py-2 font-medium border">Education:</td>
                                <td class="px-3 py-2 border">
                                    {% for edu in education %}
                                        {{ edu }}<br>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}

                        {% if languages %}
                            <tr class="border">
                                <td class="px-3 py-2 font-medium border">Languages:</td>
                                <td class="px-3 py-2 border">{{ languages }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <button class="btn btn-outline-secondary" type="button" id="copyButton">Copy</button>
                <input type="file" id="fileInput" style="display: none;">
                <button class="btn btn-outline-secondary" type="button" id="downloadButton">Download as .csv file</button>
                <script>
                    document.getElementById("copyButton").addEventListener("click", function() {
                        fetch("/copy_data", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                cv_holder_name: "{{ cv_holder_name }}",
                                birth: "{{ birth }}",
                                numbers: {{ numbers | tojson }},
                                mails: {{ mails | tojson }},
                                links: {{ links | tojson }},
                                education: {{ education | tojson }},
                                languages: "{{ languages }}"
                            })
                        }).then(response => response.text())
                          .then(data => alert(data))
                          .catch(error => console.error(error));
                    });

                    document.getElementById("downloadButton").addEventListener("click", function() {
                        var data = {
                            cv_holder_name: "{{ cv_holder_name }}",
                            birth: "{{ birth }}",
                            numbers: {{ numbers | tojson }},
                            mails: {{ mails | tojson }},
                            links: {{ links | tojson }},
                            education: {{ education | tojson }},
                            languages: "{{ languages }}"
                        };

                        fetch("/process_data", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify(data)
                        }).then(response => response.json())
                          .then(result => {
                              var csvData = result.csv_data + "\n";
                              var blob = new Blob([csvData], { type: "text/csv" });

                              var link = document.createElement("a");
                              link.href = window.URL.createObjectURL(blob);
                              link.download = "parsed_resume.csv";

                              document.body.appendChild(link);
                              link.click();

                              document.body.removeChild(link);
                          })
                          .catch(error => console.error(error));
                    });
                </script>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
