{% extends 'base.html' %}

{% block title %}
English-Hebrew resume parser
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5">English-Hebrew resume parser</h1>
    <form action="/" method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="language-select" class="form-label">Choose language:</label>
            <select class="form-select" id="language-select" name="language">
                <option value="english">English</option>
                <option value="hebrew">Hebrew</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <input type="file" class="form-control" id="file_input" name="file_input">
            <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04">Parse</button>
        </div>
    </form>
</div>
{% if file_name %}
<div class="container">
    <div class="pdf_head">
        <div class="pdf">
            <iframe id="myPDF" src="{{ url_for('static', filename='testfile1.pdf') }}#toolbar=0" frameborder="0"></iframe>
        </div>
        <div class="pdf">
            <h2 class="mt-5">Parsing Results</h2>
            <div class="row mb-3 text-center">
            <div class="col-6 themed-grid-col">
                <table class="table mt-2 w-full border text-sm text-gray-900">
                    <tbody class="text-left align-top">
                        <tr class="bg-gray-50 border">
                            <th class="px-3 py-2 font-semibold border" scope="col">Attribute</th>
                            <th class="px-3 py-2 font-semibold border" scope="col">Text</th>
                        </tr>
                        {% if cv_holder_name %}
                            <tr class="border">
                                <td class="px-3 py-2 font-medium border">Holder's Name:</td>
                                <td class="px-3 py-2 border">{{ cv_holder_name }}</td>
                            </tr>
                        {% endif %}
                        {% if birth %}
                            <tr class="border">
                                <td class="px-3 py-2 font-medium border">Birth:</td>
                                <td class="px-3 py-2 border">{{ birth }}</td>
                            </tr>
                        {% endif %}
                        {% if numbers %}
                            <tr class="border">
                                <td class="px-3 py-2 font-medium border">Phone Numbers:</td>
                                <td class="px-3 py-2 border">{{ numbers }}</td>
                            </tr>
                        {% endif %}
                        {% if mails %}
                            <tr class="border">
                                <td class="px-3 py-2 font-medium border">Emails:</td>
                                <td class="px-3 py-2 border">{{ mails }}</td>
                            </tr>
                        {% endif %}
                        {% if links %}
                            <tr class="border">
                                <td class="px-3 py-2 font-medium border">Links:</td>
                                <td class="px-3 py-2 border">{{ links }}</td>
                            </tr>
                        {% endif %}
                        {% if education %}
                            <tr class="border">
                                <td class="px-3 py-2 font-medium border">Education:</td>
                                <td class="px-3 py-2 border">{{ education }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}